C:\Suhas\Development\GoSpace\Git\.metadata
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.googlecode.goclipse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.core/.log
*.c
*.cpp
*.index
*.properties
*.version
*.tree
*.resources
*.prefs
*.xmi
*.xml
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
*.lock
*.cfe
*.cfs
*.si
CrylGCE/.project
*.ini
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
*.json
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.db
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.log
*.setup
*.mark
